
        /*-------------올리브영 모바일 앱------------*/
        .main_customer_box .app_down_link {
            /*부모 엘리먼트에 속박x, 독립된 배치 문맥 : 새로운 레이어 추가 효과 비슷*/
            /*부모 엘리먼트 위에 겹쳐서 배치 가능*/
            /*상위 엘리먼트 중 position 속성이 relativer인 엘리먼트가 있다면, 그 중 가장 가까운
              엘리먼트 내부에서만 자유롭게 배치 가능 전체 화면이 아닌 해당 상위 엘리먼트 기준 
              offset속성(top, left, bottom, right)적용*/
            position: absolute;
            top: 10px;
            /*10px*/
            right: 0;
            /*오른쪽 0위치*/

        }