/* <이 상품 어때요?> */
.banner2 {
        display: flex;
        position: relative;
        justify-content: center;
        flex-direction: column;
        background-color: white;
        margin: 0px auto;
        padding: 0px 70px 0px 70px;
        width: 1420px;
        height: 550px;
        right: 264px;
}

.banner2 .title {
        display: flex;
        justify-content: center;
        margin-top: -30px;
        text-align: center;
}

.banner2 .mini2 {
        display: flex;
        justify-content: center;
        flex-direction: row;
        margin: 0px 100px;
        padding: 10px 10px 10px 10px;
        width: 1200px;
        height: 350px;
}

.banner2 .button_num {
        position: relative;
        left: 616px;
        border: 0px solid black;
        border-radius: 30px 30px 30px 30px;
        background-color: #efebe9;
        font-weight: bolder;
        width: 20px;
        height: 20px;
}

.button_num:hover {
        background-color: black;
        color: white;
}

.banner2 .mini2 .items {
        display: flex;
        flex-direction: column;
        text-align: center;
        font-size: 14px;
        width: 90%;
}

.banner2 .subject {
        margin-top: 10px;
        color: darkslategrey;
        font-weight: bold;
}

.banner2 .commet {
        margin-top: 5px;
        color: black;
}

.banner2 .price {
        margin: 5px;
        color: gray;
        font-size: 15px;
}

.banner2 .sale {
        margin: 5px;
        color: crimson;
        font-size: 20px;
        font-weight: bold;
}

.banner2 .icon_flag .sale {
        border: 0 solid;
        border-radius: 5px 5px 5px 5px;
        background-color: #f65c60;
        color: white;
        font-size: 12px;
}

.banner2 .icon_flag .gift {
        border: 0 solid;
        border-radius: 5px 5px 5px 5px;
        background-color: #6fcff7;
        color: white;
        font-size: 12px;
}

.banner2 .icon_flag .delivery {
        border: 0 solid;
        border-radius: 5px 5px 5px 5px;
        width: 60px;
        background-color: #f374b7;
        color: white;
        font-size: 12px;
}

.banner2 .button_next_left {
        position: relative;
        top: 150px;
        left: 5px;
        z-index: 2;
        background-position: 0 0;
        border: 1px solid black;
        background-color: #f6f6f6;
        border-radius: 30px 30px 30px 30px;
        width: 30px;
        height: 30px;
}

.button_next_left:hover {
        background-color: #e1bee7;
        color: black;
}

.banner2 .button_next_right {
        position: relative;
        bottom: 240px;
        left: 1385px;
        z-index: 2;
        background-position: 0 0;
        border: 1px solid black;
        background-color: #f6f6f6;
        border-radius: 30px 30px 30px 30px;
        width: 30px;
        height: 30px;
}

.button_next_right:hover {
        background-color: #e1bee7;
        color: black;
}

.icon_best {
        display: inline-block;
        background: white;
        box-sizing: border-box;
        border-radius: 100px 100px 100px 100px;
        border: 2px solid crimson;
        margin: 0 auto;
        padding: 15px 5px 15px 5px;
        position: relative;
        width: 50px;
        height: 50px;
        top: -370px;
        left: -100px;
        z-index: 1;
        text-align: center;
        font-weight: bold;
        color: crimson;
        font-size: 12px;
}

.icon_heart {
        background: ghostwhite;
        border: 1px solid gray;
        width: 20px;
        height: 20px;
        margin: 0 auto;
        padding: 10px 10px;
        position: relative;
        top: -205px;
        left: 115px;
        z-index: 1;
}

.icon_heart:hover {
        color: hotpink;
}

.icon_heart_error {
        background: ghostwhite;
        border: 1px solid gray;
        width: 20px;
        height: 20px;
        margin: 0 auto;
        padding: 10px 10px;
        position: relative;
        top: -155px;
        left: 120px;
        z-index: 1;
}

.icon_heart_error:hover {
        color: hotpink;
}